div#content{
	background-color: #fff;
}

div#content div{
	display: inline-block;
	width: 48%;
}

div#content div h1.p iframe{
	margin: 35px;
}

div#content div.Leftbox{
	color: black;
	background-color: #fff;
	vertical-align: top;
}

div#content div.rightbox{
	color: black;
	background-color: #fff;
}


nav.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
}

nav.menu-nav ul li.btn a{
	color: white;
	background-color: red;
	text-decoration: none;
	padding: 10px
}

nav.menu-nav ul li.btn:hover a{
	color: red;
	background-color: white;
	transition: 0.3s all;
}


nav.menu-nav ul li.bjr{
	display: inline-block;
	list-style-type: none;
}

nav.menu-nav ul li.bjr a{
	color: white;
	background-color: red;
	text-decoration: none;
	padding: 10px
}

nav.menu-nav ul li.bjr:hover a{
	color: red;
	background-color: white;
	transition: 0.3s all;
}





/*p.welcome{
	color: #fff;
	background-color: #E21C44;
}

p.css{
	color: #000000;
	font-weight: bold;
}

body{
	background-color: #777;
}

h2.headline{
	font-size: 50px;
	padding-left: 200px;
}

a{
	color: #E21C44;
}*/