*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    height: 100%;
}
.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 999;
    background-color: black;
}
.navbar .logo h1{
    color: white;
    cursor: pointer;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: white;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.navbar .menu li .active{
    border-bottom: 4px solid #f63e4e;
}
.navbar .menu li .a:hover{
    border-bottom: 4px solid #f63e4e;
}
.pape{
    background-image: url(img/image\ coque\ 50.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #424144;
    height: 100vh;
}
.pape h1{
    font-size: 40px;
}
.pape p{
    font-size: 20px;
    margin-top: 20px;
}
.pape button{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background: #f63e4e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.produits_texte{
    text-align: left;
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
    margin-left: 80px;
    color: #424144;
}
.section_produits{
    padding: 40px 5%;
}
.produits{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.produits .carte{
    width: 310px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0 ,0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}
.produits .carte img{
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
}
.produits .carte .desc{
    padding: 5px 20px;
    opacity: 0.8;
}
.produits .carte .titre{ 
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}
.produits .carte .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.produits .carte .prix{
    color: #f63e4e;
    font-size: 20px;
    font-weight: bold;
}
.produits .carte .achat{
    font-size: 13px;
    font-weight: 900;
    color: #f63e4e;
    padding: 10px 18px;
    border-radius: 5px;
}
.produits .carte .box .achat:hover{
    cursor: pointer;
    background: black;
    color: white;
}
footer{
    background: #f3f4f6;
    height: 10vh;
}
footer p{
    text-align: center;
    line-height: 10vh;
}
footer p a{
    text-decoration: none;
    color: #f63e4e;
    font-weight: bold;
}
div#content{
	background-color: #fff;
}

div#content div{
	display: inline-block;
	width: 48%;
}

div#content div h1.p iframe{
	margin: 35px;
}

div#content div.Leftbox{
	color: black;
	background-color: #fff;
	vertical-align: top;
}

div#content div.rightbox{
	color: black;
	background-color: #fff;
}


nav.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
}

nav.menu-nav ul li.btn a{
	color: white;
	background-color: red;
	text-decoration: none;
	padding: 10px
}

nav.menu-nav ul li.btn:hover a{
	color: red;
	background-color: white;
	transition: 0.3s all;
}


nav.menu-nav ul li.bjr{
	display: inline-block;
	list-style-type: none;
}

nav.menu-nav ul li.bjr a{
	color: white;
	background-color: red;
	text-decoration: none;
	padding: 10px
}

nav.menu-nav ul li.bjr:hover a{
	color: red;
	background-color: white;
	transition: 0.3s all;
}





/*p.welcome{
	color: #fff;
	background-color: #E21C44;
}

p.css{
	color: #000000;
	font-weight: bold;
}

body{
	background-color: #777;
}

h2.headline{
	font-size: 50px;
	padding-left: 200px;
}

a{
	color: #E21C44;
}*/